@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Pacifico&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fafbfc;
}

.logoImage {
  width: 65px;
  height: 45px;
}

.logo {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
}

.logo p {
  font-size: 35px;
  color: black;
  margin-left: 20px;
}

.user {
  margin-left: auto;
}

.user span {
  font-size: 15px;
  margin-left: 10px;
  color: black;
}

#hi {
  display: flex;
  font-size: 15px;
  color: white;
  justify-content: center;
  margin-bottom: 10px;
}

.user #logout {
  cursor: pointer;
}

#logoprofile {
  display: flex;
  cursor: pointer;
  font-size: 100px;
  justify-content: center;
  color: white;
  margin: 20px 0px 10px 0px;
}

.taskbar {
  display: flex;
  align-items: center;
  height: 80px;
}

#add {
  margin-left: 30px;
  width: 100px;
  height: 40px;
  background-color: #1677ff;
  color: white;
}

.search {
  cursor: pointer;
  width: 100%;
}

.content {
  padding: 0px 30px;  
}