<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layoutadmin}">

<head>
  <title>Admin - Trang chủ</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/assets/fontawesome-free-6.6.0-web/css/all.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/kaiadmin.min.css}" />
  <link rel="stylesheet" href="assets/css/demo.css" />
</head>

<body layout:fragment="contentadmin">
<div class="main-panels">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-primary bubble-shadow-small">
                <i class="fas fa-box"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">
                  <a href="/admin/products">Tổng sản phẩm</a>
                </p>
                <h4 class="card-title" th:text="${totalProducts}">0</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-info bubble-shadow-small">
                <i class="fa fa-users"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">
                  <a href="/admin/users">Tổng khách hàng</a>
                </p>
                <h4 class="card-title" th:text="${totalUsers}">0</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-success bubble-shadow-small">
                <i class="fa fa-list"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">
                  <a href="/admin/categories">Tổng danh mục</a>
                </p>
                <h4 class="card-title" th:text="${categoryCount}">0</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-secondary bubble-shadow-small">
                <i class="fa fa-shopping-cart"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">
                  <a href="/admin/orders">Tổng đơn hàng</a>
                </p>
                <h4 class="card-title" th:text="${totalOrders}">0</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-inner">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <div class="card-title">Sản phẩm mới (Top 5)</div>
              </div>
              <div class="card-body">
                <table class="table table-head-bg-primary mt-3">
                  <thead>
                  <tr>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Giá</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="product, iterStat : ${latestProducts}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.FormattedPrice}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <div class="card-title">Đơn hàng mới (Top 5)</div>
              </div>
              <div class="card-body">
                <table class="table table-head-bg-primary mt-3">
                  <thead>
                  <tr>
                    <th scope="col">Khách hàng</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="order : ${orders}">
                    <td th:text="${order.customerName}"></td>
                    <!--                      <td th:text="${order.productName}"></td>-->
                    <td th:text="${order.productName.replace('[', '').replace(']', '')}"></td>
                    <td th:text="${order.quantity}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>