<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <link rel="icon" th:href="@{/logo/LogoFS.png}" type="image/x-icon" />
    <title>Đăng nhập</title>
</head>

<body class="fade">
    <div class="container" id="container">

        <div class="form-container sign-in">

            <form th:action="@{/forgot-password}" method="post">
                <h1 style="margin-bottom: 10px;">Quên Mật Khẩu</h1>
                <span style="margin-bottom: 10px;">Mã OTP sẽ được gửi qua gmail của bạn!</span>
                <input type="email" class="form-control" required id="email" name="email" placeholder="Nhập Email">
                <div class="d-grid gap-2 form-action">
                    <button type="submit" class="btn" onclick="showLoadingProducts()">Gửi</button>
                </div>
                <div th:if="${message != null}" class="alert"
                     th:classappend="${message.contains('thành công') ? 'alert-success' : 'alert-danger'}">
                    <p style="margin: 0;" th:text="${message}"></p>
                </div>
            </form>
        </div>

        <div class="toggle-container">

            <div class="toggle">

                <div class="toggle-panel toggle-right">
                    <img src="/logo/LogoFS.png" alt="logo" width="150">
                    <div class="logo_container">
                        <a>FASHION<span>SHOP</span></a>
                    </div>
                    <p>Gmail bạn nhập phải hoàn toàn khớp với gmail bạn đã dùng đăng ký tài khoản. Khi đó mã OTP sẽ có
                        hiệu lực!</p>
                    <div id="loading" class="loading" style="display: none;">
                        <div class="spinner"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script th:src="@{/js/script.js}"></script>
</body>

</html>