<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
  <link rel="icon" th:href="@{/logo/LogoFS.png}" type="image/x-icon" />
  <title>Đăng ký</title>
</head>

<body class="fade">
  <div class="container" id="container">
    <div class="form-container sign-in">

      <form th:action="@{/register}" method="post">
        <h1 style="margin-bottom: 10px;">Tạo Tài Khoản</h1>
        <span style="margin-bottom: 10px;">Xin chào người dùng mới!</span>
        <input type="text" class="form-control" id="username" name="username" required placeholder="Tài khoản">
        <input type="email" class="form-control" id="email" name="email" required placeholder="Email">
        <div class="password-container">
          <input type="password" class="form-control" id="password" name="password" required placeholder="Mật khẩu">
          <i class="fas fa-eye eye-icon" id="eyeIcon"></i>
        </div>
        <input type="tel" class="form-control" id="phone" name="phone" required placeholder="Số điện thoại">
        <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="showLoadingProducts()">Đăng ký</button>
        <div th:if="${errors}" class="error" role="alert">
          <ul style="list-style-type: none; padding: 0;">
            <li th:each="error : ${errors}" class="text-danger text-start" style="font-size: 15px; ">Số điện thoại phải
              10 số!</li>
          </ul>
        </div>
      </form>

    </div>

    <div class="toggle-container">

      <div class="toggle">

        <div class="toggle-panel toggle-right">
          <img src="/logo/LogoFS.png" alt="logo" width="150">
          <div class="logo_container">
            <a>FASHION<span>SHOP</span></a>
          </div>
          <p>Nhập thông tin cá nhân của bạn để shop đem đến cho bạn trải nghiệm mua sắm tuyệt vời nhất!</p>
          <button class="hidden" id="login" onclick="showLoadingRegister()">Đăng Nhập</button>
          <div id="loading" class="loading" style="display: none;">
            <div class="spinner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/js/script.js}"></script>
</body>

</html>