<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Giỏ hàng</title>
  <link rel="stylesheet" th:href="@{/styles/main_navigation.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/styles/cart_styles.css}" type="text/css">
</head>

<body>
  <div layout:fragment="content">
    <div class="container cart_container">
      <h3 class="text-center">Giỏ Hàng</h3>
      <p class="text-center">Có <span class="cart_items" style="color: red" th:text="${totalQuantity}"></span> sản phẩm
        trong giỏ hàng</p>

      <div class="row">
        <div th:classappend="${cartItems.isEmpty()} ? 'col-md-12' : 'col-md-8'" class="cart-items table-responsive">
          <table class="table" th:if="${!cartItems.isEmpty()}">
            <thead class="thead-light">
              <tr>
                <th style="width: 100px;">Hình ảnh</th>
                <th style="width: 250px">Thông tin</th>
                <th class="text-center" style="width: 140px">Số lượng</th>
                <th class="text-right" style="width: 90px">Giá tiền</th>
                <th style="width: 50px"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item" th:each="item : ${cartItems}">
                <td>
                  <img th:if="${item.product.id != null}" th:src="@{/api/products/{id}/image(id=${item.product.id})}"
                    alt="Không có hình ảnh" style="width: 100%;">
                </td>
                <td class="item-info">
                  <p style="color: black;" th:text="${item.product.name}"></p>
                  <p>Size: <span th:text="${item.size}"></span></p>
                </td>
                <td th:data-price="${item.product.price}" class="price d-none"></td>
                <td class="quantity_selector text-center">
                  <button class="minus" onclick="updateQuantity(this, -1)"><i class="fa fa-minus"
                      aria-hidden="true"></i></button>
                  <input id="quantity_value" type="text" class="quantity-input" th:value="${item.quantity}" readonly />
                  <button class="plus" onclick="updateQuantity(this, 1)"><i class="fa fa-plus"
                      aria-hidden="true"></i></button>
                  <input type="hidden" class="data-product-id" th:value="${item.product.id}" />
                  <input type="hidden" class="data-size" th:value="${item.size}" />
                </td>
                <td class="item-total price text-right" th:text="${item.formattedPriceQuantity}"></td>
                <td class="delete">
                  <a th:href="@{/cart/remove/{productId}/{size}(productId=${item.product.id}, size=${item.size})}">
                    <i class="fas fa-trash" style="color: red;"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-info text-center p-5" th:if="${cartItems.isEmpty()}">Giỏ hàng của bạn thật trống trải
            !
            <a th:href="@{/products}" class="alert-dismissible">Click vào đây để thêm ngay</a>
          </div>
        </div>

        <div class="col-md-4 summary" th:if="${!cartItems.isEmpty()}">
          <h3 class="text-center">Phiếu Thanh Toán</h3>
          <p>Total Quantity: <span class="cart_items1" th:text="${totalQuantity}">0</span></p>
          <p>Giảm giá: -<span class="total">0đ</span></p>
          <p>Tạm tính: <span class="total" th:text="${#numbers.formatDecimal(subtotal, 0, 0)} + 'đ'">1,855,000đ</span>
          </p>
          <p>Tổng tiền: <span class="cart-total" th:text="${cartTotal}"></span></p>
          <a th:href="@{/order/checkout}" class="btn btn-primary btn-block">Thanh Toán</a>
          <a th:if="${!cartItems.isEmpty()}" th:href="@{/cart/clear}"
            class="delete_all btn btn-danger btn-block mt-3">Xóa Tất Cả</a>
        </div>
      </div>
    </div>

    <script th:src="@{/js/cart_custom.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
</body>

</html>