<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <title>FASHION SHOP</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" th:href="@{/logo/LogoFS.png}" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}" />
  <link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}" />
  <link rel="stylesheet" th:href="@{/styles/loading_styles.css}" type="text/css">
</head>

<body class="fade">
  <div class="super_container">
    <div class="loading-container" id="loading" style="display: none;">
      <div class="spinner"></div>
    </div>
    <!-- Header -->

    <header class="header trans_300">
      <!-- Top Navigation -->

      <div class="top_nav">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="top_nav_left">
                miễn phí vận chuyển cho tất cả các đơn hàng trên 50k
              </div>
            </div>
            <div class="col-md-6 text-right">
              <div class="top_nav_right">
                <ul class="top_nav_menu">
                  <!-- Currency / Language / My Account -->

                  <li class="account">
                    <a class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                      <span class="navbar-text text-white">
                        Xin chào, <span sec:authentication="name" style="margin-right: 5px;"></span>
                        <i class="fa fa-angle-down"></i>
                      </span>
                    </a>
                    <ul class="account_selection">
                      <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                          <button type="submit" style="border: none; background-color: transparent; cursor: pointer; white-space: nowrap;">
                            <i class="bi bi-box-arrow-right" style="margin-right: 5px"></i> Đăng xuất
                          </button>
                        </form>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Main Navigation -->

      <div class="main_nav_container">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-right">
              <div class="logo_container">
                <a th:href="@{/home}">FASHION<span>SHOP</span></a>
              </div>
              <nav class="navbar">
                <ul class="navbar_menu">
                  <li><a th:href="@{/home}">Trang Chủ</a></li>
                  <li><a th:href="@{/products}">Danh Mục</a></li>
                  <li><a th:href="@{/contact}">Liên Hệ</a></li>
                </ul>
                <ul class="navbar_user">
                  <li>
                    <div id="search-form" class="input-group custom-input-group">
                      <div class="search-form rounded rounded-pill shadow-sm" aria-hidden="true">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <button id="button-addon2" type="text" class="btn btn-link text-dark"><i
                                class="fa fa-search"></i></button>
                          </div>
                          <input type="search" id="search-input" placeholder="Tìm kiếm..."
                            aria-describedby="button-addon2" class="form-control">
                          <div id="suggestions" class="list-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <a th:href="@{/profile}">
                      <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="checkout">
                    <a th:href="@{/cart}">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <span id="checkout_items" class="checkout_items" th:text="${totalQuantity}">0</span>
                    </a>
                  </li>
                </ul>
                <div class="hamburger_container">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="fs_menu_overlay"></div>

    <div class="hamburger_menu">
      <div class="hamburger_close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="hamburger_menu_content text-right">
        <ul class="menu_top_nav">
          <li class="menu_item has-children">
            <a class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
              <span class="navbar-text text-white">
                Xin chào, <span sec:authentication="name" style="margin-right: 5px;"></span>
                <i class="fa fa-angle-down"></i>
              </span>
            </a>
            <ul class="menu_selection">
              <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                  <button type="submit" style="border: none; background-color: transparent; cursor: pointer;">
                    <i class="bi bi-box-arrow-right" style="margin-right: 5px"></i> Đăng xuất
                  </button>
                </form>
              </li>
            </ul>
          </li>
          <li><a th:href="@{/home}">Trang Chủ</a></li>
          <li><a th:href="@{/products}">Danh Mục</a></li>
          <li><a th:href="@{/contact}">Liên Hệ</a></li>
        </ul>
      </div>
    </div>

    <div layout:fragment="content">
    </div>

    <!-- Newsletter -->

    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div
              class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
              <h4>Bản tin</h4>
              <p>
                Đăng ký nhận bản tin của chúng tôi và được giảm giá 20%
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <form id="newsletterForm" method="post">
              <div
                class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                <input id="newsletter_email" type="email" name="email" placeholder="Email của bạn" required="required"
                  data-error="Valid email is required." />
                <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Đăng
                  Ký</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div
              class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
              <ul class="footer_nav">
                <li><a href="https://influencermarketinghub.com/best-fashion-blogs/">Nhật ký</a></li>
                <li><a
                    href="https://forums.vintagefashionguild.org/forums/public-vintage-fashion-ask-questions-get-answers.39/">Câu
                    hỏi thường gặp</a></li>
                <li><a href="/contact">Liên hệ chúng tôi</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
              <ul>
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100029329952699"><i class="fa fa-facebook"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.tiktok.com/@ng_thdat.30"><i class="fa-brands fa-tiktok"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/ngth_dat.30/"><i class="fa fa-instagram"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/@ng_thdat.308"><i class="fa-brands fa-youtube"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.pinterest.com/ngthanhdat7019/"><i class="fa fa-pinterest"
                      aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="footer_nav_container">
              <div class="cr">
                ©2024 Mọi quyền được bảo lưu. Được thực hiện và phân phối bởi
                <a href="">Nhóm 2</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
  <script th:src="@{/styles/bootstrap4/popper.js}"></script>
  <script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
  <script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
  <script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
  <script th:src="@{/plugins/easing/easing.js}"></script>
  <script th:src="@{/js/custom.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/loading_custom.js}"></script>
  <script>
    $(document).ready(function () {
      $('#newsletterForm').on('submit', function (event) {
        event.preventDefault();
        var email = $('#newsletter_email').val();
        $('#loading').show();

        $.ajax({
          url: '/home/subscribe',
          type: 'POST',
          data: { email: email },
          success: function (response) {
            $('#loading').hide();
            $('#popup-message').text(response);
            $('#notification-popup').show();

            setTimeout(function () {
              $('#notification-popup').hide();
            }, 5000);
          },
          error: function (xhr, status, error) {
            $('#loading').hide();
            var errorMessage = xhr.responseText || "Có lỗi xảy ra, vui lòng thử lại!";
            $('#popup-message').text(errorMessage);
            $('#notification-popup').show();

            setTimeout(function () {
              $('#notification-popup').hide();
            }, 5000);
          }
        });
      });
    });
  </script>
  <script>
    document.getElementById('search-input').addEventListener('input', function () {
      var query = this.value;

      if (query.length >= 1) {
        fetch('/api/products/search?name=' + query)
          .then(response => response.json())
          .then(data => {
            var suggestions = document.getElementById('suggestions');
            suggestions.innerHTML = '';
            if (data.length > 0) {
              data.forEach(product => {
                var div = document.createElement('div');
                div.textContent = product.name;
                div.classList.add('list-group-item');
                div.addEventListener('click', function () {
                  window.location.href = '/products/single/' + product.id;
                });
                suggestions.appendChild(div);
              });
              suggestions.style.display = 'block';
            } else {
              var noProductDiv = document.createElement('div');
              noProductDiv.textContent = 'Không có sản phẩm phù hợp';
              noProductDiv.classList.add('list-group-item');
              suggestions.appendChild(noProductDiv);
              suggestions.style.display = 'block';
            }
          })
          .catch(error => console.error('Error fetching products:', error));
      } else {
        document.getElementById('suggestions').style.display = 'none';
      }
    });
  </script>
</body>

</html>