<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styles/profile_styles.css}">
  <title>Hồ Sơ Của Tôi</title>
</head>

<body>
  <div layout:fragment="content" class="container">
    <div class="profile">
      <div class="row">
        <div class="col-md-12 profile-section">
          <h2 class="text-center">Hồ sơ của tôi</h2>
          <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" id="name" class="form-control" th:value="${user.username}" readonly>
          </div>
          <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="tel" id="phone" class="form-control" th:value="${user.phone}" readonly>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" th:value="${user.email}" readonly>
          </div>
          <button class="btn btn-dark btn-block">LƯU</button>
          <p class="text-center"><a href="#" class="order-link">Đổi mật khẩu</a></p>
        </div>

        <div class="order-section col-md-12">
          <h2 class="text-center">Đơn hàng của tôi</h2>
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
              <th>Mã</th>
              <th>Khách Hàng</th>
              <th>Sản Phẩm</th>
              <th>Số Lượng</th>
              <th>Ngày Mua</th>
              <th>Địa Chỉ</th>
              <th>Ghi Chú</th>
              <th>Giá</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
              <td th:text="${order.id}"></td>
              <td th:text="${order.customerName}"></td>
              <td th:text="${order.productName}"></td>
              <td th:text="${order.quantity}"></td>
              <td th:text="${order.getFormattedOrderDate()}"></td>
              <td th:text="${order.shippingAddress}"></td>
              <td th:text="${order.note}"></td>
              <td th:text="${order.getFormattedPrice()}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>