body {
  font-family: Arial, sans-serif;
}

.confirmation_container {
  margin-top: 170px;
}

.success-icon {
  font-size: 100px;
  color: green;
  margin-bottom: 20px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
