body {
  font-family: Arial, sans-serif;
}
.total {
  font-weight: bold;
  color: red;
}

.profile-section {
  border-right: 1px solid #ccc;
}

.profile {
  margin-top: 170px;
  padding-bottom: 50px;
  border-bottom: solid 1px #ebebeb;
}

.order-link {
  color: red;
}
